/* Override google css */
.gm-fullscreen-control,
.gm-iv-address,
.leaflet-right,
.gm-style-cc,
a[rel=noopener] {
  visibility: hidden;
}

#mapcontainer {
  height: 30%;
  width : 30%;
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 5;
}

#map {
  max-height: inherit;
  max-width: inherit;
  height: 100%;
  width : 100%;
}

#btn_start,
#btn_guess {
  z-index: 10;
  position: absolute;
  /* transform: translate(-50%, -50%); */
  background-color: #555;
  color: white;
  font-size: 16px;
  padding: 16px 32px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
}

#btn_guess{
  bottom: 5%;
  left: 50%;
}

#btn_start{
  bottom: 95%;
  left: 50%;
}


#btn_guess:hover{
  background-color: orange;
}

#pano {
    height: 100%;
}

html, body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}